 * {
     text-align: center;
 }

 body {
     background-color: bisque;
 }

 input {
     height: 35px;
     width: 250px;
     border: 2px solid black;
     border-radius: 12px;
 }

 input:focus {
     background-color: lightblue;
 }

 #enviar {
     height: 30px;
     width: 200px;
     cursor: pointer;
     transition: 0.25s;
 }

 #enviar:hover {
     height: 35px;
 }

 table {
     margin: 0 auto;
     background-color: white;
 }